.a{
    font-size: 25px;
    font-weight: 900;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

h1{
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}